%article
  %h1= "Workout: #{workout.name}"
  %small= workout.date.strftime('%b %d, %Y @ %I:%M%P')

  %section.workout-types
    %h3 Exercises

    %section
      %ul
        - workout_exercises.each do |workout_exercise|
          %li= workout_exercise.exercise_type_name
