.workouts {
  @include container;

  h1 {
    margin: 0;
  }

  form {
    margin-top: 12px;
  }

  form input {
    margin: 12px 0;
  }

  form label {
    margin-right: 8px;
    color: #676767;
  }

  .exercises {
    fieldset {
      border: 0;
    }

    select, input {
      margin-right: 8px;
    }

    table {
      margin-top: 12px;
    }
  }
}
