.contain
  %h1 Start a Workout

  %hr

  %h3 What type of workout are you doing?
  %p
    Click one to begin tracking your workout
    = link_to 'add workout', new_workout_type_path

  %ul
    - workout_types.each do |wt|
      %li= wt.name

  %hr

  %h3 Recent Workouts
  %p Resume a workout, or manage recent workout sessions.

  %table
    %thead
      %tr
        %th Date
        %th -
        %th -

    %tbody
      %tr
        %td= DateTime.now.strftime("%B %d, %Y")
        %td []
        %td x
