.contain
  %h1 Start a Workout

  %hr

  %h3 What type of workout are you doing?
  %p
    Click one to begin tracking your workout
    = link_to 'add workout', new_workout_type_path

  %table
    %thead
      %tr
        %th
        %th Name

    %tbody
      - workout_types.each do |wt|
        %tr
          %td= link_to 'x', workout_type_path(wt), method: :delete
          %td= wt.name

  %hr

  %h3 Recent Workouts
  %p Resume a workout, or manage recent workout sessions.

  %table
    %thead
      %tr
        %th Date
        %th -
        %th -
