%article
  %h1 Track your workouts.

  %section
    %p
      Lose the notepad, it's #{Date.today.year}. Keep track
      %br
      of your workout routine and meet your
      %br
      fitness goals with liftkit.
