%article
  %h1= "Workout: #{workout.name}"
  %small= seshion.formatted_date

  %section.seshion-exercises
    %h3 Exercises

    %section
      %ul
        - lifts.each do |lifts|
          %li= lifts.name
